h1{
    text-align: center;
    font-family: verdana, sans-serif;
}

dt{
    font-size: 1.25em;
}

dd{
    padding-bottom: 1em;
}

body{
    background-color: lightgrey;
}

div{
    padding: 1em;
    background-color: white;
    border-radius: 25px;
}